@import "../../global.scss";

.myself {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    text-align: center;
    padding: 20px 0;
    color: $secondColor;
    font-size: 40px;
  }

  .journey {
    width: 50%;

    p {
      text-align: center;
      color: $secondColor;
      font-weight: 300;
      font-size: 20px;
    }
  }
}
