@import "../../global.scss";

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    height: auto !important;
  }

  h1 {
    font-size: 50px;
    padding: 10px 0;
    overflow: clip;
    color: $secondColor;

    @include mobile {
      font-size: 40px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: clip;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 24px;
      margin: 5px;
      padding: 7px;
      border-radius: 10px;
      cursor: pointer;

      &.active {
        background-color: $mainColor;
        color: white;
      }
    }
  }

  .container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 260px;
      height: 170px;
      border-radius: 20px;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      transition: all 0.5s ease;
      -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      @include mobile {
        width: 260px;
        height: 200px;
        overflow: clip;
      }

      a {
        position: absolute;
        font-size: 20px;
        color: white;
        text-decoration: none;
        cursor: pointer;

        @include mobile {
          font-size: 20px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
