@import "../../global.scss";

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    height: auto !important;
  }

  h1 {
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0;
    overflow: clip;
    color: $secondColor;

    @include mobile {
      font-size: 40px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: clip;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 20px;
      font-weight: 300;
      margin: 5px;
      padding: 8px;
      border-radius: 10px;
      cursor: pointer;
      height: auto;
      overflow-y: hidden;

      &.active {
        background-color: $mainColor;
        color: white;
      }
    }
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: visible;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 350px;
      height: 225px;
      border-radius: 10px;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s ease;
      -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      @include mobile {
        width: 260px;
        height: 200px;
        overflow: clip;
      }

      a {
        position: absolute;
        font-size: 25px;
        font-weight: 300;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.5s ease;

        @include mobile {
          font-size: 20px;
        }

        &:hover {
          color: #003049;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
