@import "../../global.scss";

.stack {
  @media (max-width: 900px) {
    height: auto !important;
  }
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 16px 0;
  overflow: clip;
  color: $secondColor;

  @include mobile {
    font-size: 40px;
  }
}

h4 {
  text-align: center;
  color: $secondColor;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 25px;
}

.parent {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  height: auto;
  overflow: auto;
  grid-row-gap: 30px;

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 135px;
  }
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 140px;
  width: 140px;
  overflow: visible;

  h3 {
    margin-block-start: auto;
    color: $secondColor;
    overflow: hidden;
  }

  .stack-icon {
    font-size: 85px;
    color: $mainColor;

    @media (min-width: 900px) {
      font-size: 80px;
    }

    @keyframes bounce {
      50% {
        transform: translateY(-15px);
      }
    }

    &:hover {
      animation: bounce 1s infinite;
    }
  }
}
